<div class="container text-center">
      <div class="col shadow p-3 mb-5 bg-body-tertiary rounded">
        <h5>Contactanos</h5>
        <!--FORMULARIO INICIO-->
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Correo Electrónico" aria-label="Correo Electrónico">
          </div>
        </div>
        <br>
        <select class="form-select" aria-label="Default select example">
          <option selected>Tema</option>
          <option value="1">Bolsa de trabajo</option>
          <option value="2">Dudas o comentarios</option>
          <option value="3">Otros</option>
        </select>
        <br>
        <div class="mb-3">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Descripción" aria-label="Descripción"></textarea>
        </div>
        <!--FORMULARIO FIN-->
        <button type="button" class="btn btn-outline-primary">Enviar</button>

      </div>
  </div>
 <!--
 <div class="contenedor-redes-sociales">
        <a class="facebook" href="https://www.facebook.com/profile.php?id=61556696798193" target="_blank">
            <span class="circulo"><i class="fa fa-facebook"></i></span>
            <span class="titulo">Facebook</span>
            <span class="titulo-hover">Seguir</span>
        </a>

        <a class="facebook" href="https://www.facebook.com/profile.php?id=61556696798193" target="_blank">
          <span class="circulo"><i class="fa fa-facebook"></i></span>
          <span class="titulo">Facebook</span>
          <span class="titulo-hover">Seguir</span>
      </a>
    
       <a class="twitter" href="https://twitter.com/ACTUNITY24" target="_blank">
           <span class="circulo"><i class="fa fa-twitter"></i></span>
           <span class="titulo">Twitter</span>
           <span class="titulo-hover">Seguir</span>
       </a>
    
       <a class="gplus" href="https://www.tiktok.com/@actunity24" target="_blank">
           <span class="circulo"><i class="fa fa-google-plus"></i></span>
           <span class="titulo">Tiktok</span>
           <span class="titulo-hover">Seguir</span>
       </a>
    </div>
    --->