<div class="container text-center">
    <div class="row">
      <div class="col shadow p-3 mb-5 bg-body-tertiary rounded">
        <h5>Contactanos</h5>
      </div>
    </div>
  </div>

 <div class="col shadow p-3 mb-5 bg-body-tertiary rounded">
  <h2>
    Correo electrónico
  </h2>
    <div class="contenedor-redes-sociales">
        <a class="facebook" href="https://www.facebook.com/profile.php?id=61556696798193" target="_blank">
            <span class="circulo"><i class="fa fa-facebook"></i></span>
            <span class="titulo">Facebook</span>
            <span class="titulo-hover">Seguir</span>
        </a>

        <a class="facebook" href="https://www.facebook.com/profile.php?id=61556696798193" target="_blank">
          <span class="circulo"><i class="fa fa-facebook"></i></span>
          <span class="titulo">Facebook</span>
          <span class="titulo-hover">Seguir</span>
      </a>
    
       <a class="twitter" href="https://twitter.com/ACTUNITY24" target="_blank">
           <span class="circulo"><i class="fa fa-twitter"></i></span>
           <span class="titulo">Twitter</span>
           <span class="titulo-hover">Seguir</span>
       </a>
    
       <a class="gplus" href="https://www.tiktok.com/@actunity24" target="_blank">
           <span class="circulo"><i class="fa fa-google-plus"></i></span>
           <span class="titulo">Tiktok</span>
           <span class="titulo-hover">Seguir</span>
       </a>
    </div>
 </div>