
  
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card mx-auto shadow-lg rounded"> <!-- Añadida la clase shadow-lg y rounded para un efecto de sombra y esquinas redondeadas -->
          <div class="card-body">
            <form [formGroup]="recuperarContrasenasForm" (ngSubmit)="recuperarContrasena()">
              <div class="form-group">
                <input type="email" id="email" class="form-control" formControlName="email" placeholder="Correo electrónico">
                <div class="invalid-feedback" *ngIf="recuperarContrasenasForm.get('email')?.invalid && recuperarContrasenasForm.get('email')?.touched">
                  Por favor, ingrese un correo electrónico válido.
                </div>
              </div>
              <br>
              <button type="submit" class="btn btn-primary btn-block">Enviar correo electrónico</button>
            </form>
                </div>
              </div>
            </div>
          </div>
        </div>