<div id="seccion_header" style="text-align: center;">
  <h2>Solicitudes de asignación</h2>
  <hr>
</div>
<div id="cont" class="container mt-5">
  <div class="row">
    <div class="card" style="margin-left: 10px;">
      <div class="card-body text-center">
        <span style="color: black; font-weight: bold" class="titulo">LISTADO DE SOLICITUDES EN PROCESO</span>
        <div class="d-flex justify-content-end mb-3">
          <div class="form-group mb-0">
            <input type="text" class="form-control" name="filterEmpleado" placeholder="Buscar Empleado">
          </div>
          <br>
        </div>



        
        <!--inicioo -->
        <ul class="nav nav-tabs text-center" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Solicitudes pendientes</button>

          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Solicitudes aprobadas</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Solicitudes rechazadas</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <div class="table table-striped mt-3">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Credencial de empleado</th>
                    <th scope="col">Articulo solicitado</th>
                    <th scope="col">Comentarios</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let solicitud of solicitudes">
                    <td>{{ solicitud.nombre }}</td>
                    <td>{{ solicitud.recurso }}</td>
                    <td>{{ solicitud.comentario }}</td>
                    <td>
                      <div class="btn-group">
                        <button class="btn btn-success" (click)="aprobarSolicitud(solicitud)"> <!---->
                          <i class="fa-solid fa-check"></i> 
                        </button>
                        <button class="btn btn-danger" (click)="rechazarSolicitud(solicitud)"><!---->
                          <i class="fa-solid fa-times"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h5 style="text-align: start; margin-top: 10px;" *ngIf="solicitudes.length == 0"> No hay solicitudes pendientes en este momento</h5>

          </div>
          <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">


            
          </div>
          <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">...</div>
        </div>
        <!--fin-->

      </div>
    </div>
  </div>
</div>

  