<header class="p-3 mb-3 border-bottom" *ngIf="!estaAutenticado()">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" [class.active]="isActive('/signin')" href="/signin">Ingresar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="isActive('/signup')" href="/signup">Registro</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="isActive('/otra-ruta')" href="/otra-ruta">
        <i class="fa-solid fa-arrow-left" style="color: #0d6efd;"></i>
      </a>
    </li>
    <button type="button" class="btn" (click)="toggleDarkMode()"><i class="fa-solid fa-moon" ></i>
    </button>
  </ul>
</header>



<header class="p-3 mb-3 border-bottom"  *ngIf="estaAutenticado()">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <div class="logo-container">
            <a href="inicio"><img src="../assets/Gráfico Cuadro Comparativo Moderno Amarillo (1).png" alt="Logo" style="height: 70px; width: 200px; margin-right: 10rem;"></a>
          </div>
          <div class="vr"></div>
          <li class="d-flex align-items-center"><a [class.active]="isActive('/listar-empleados')" href="listar-empleados" class="nav-link px-2 link-secondary">Empleados</a></li>
          <li class="d-flex align-items-center"><a [class.active]="isActive('/listar-recurso')" href="listar-recurso" class="nav-link px-2 link-secondary">Almacén</a></li>
          <li class="d-flex align-items-center"><a [class.active]="isActive('/asignacion')" href="asignacion" class="nav-link px-2 link-secondary">Asignar</a></li>
          <li class="d-flex align-items-center"><a [class.active]="isActive('/productos')" href="productos" class="nav-link px-2 link-secondary">Productos</a></li>
          <li class="d-flex align-items-center"><a [class.active]="isActive('/solicitudes')" href="solicitudes" class="nav-link px-2 link-secondary">Solicitudes</a></li>
        </ul>
        <button type="button" class="btn" (click)="toggleDarkMode()"><i class="fa-solid fa-moon" ></i>
        </button>
        <span> </span>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../assets/avatar.png" alt="mdo" width="23" height="23" >
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <!--
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
             -->
           
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="cerrarSesion()">Cerrar sesión</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>