<div id="seccion_header" style="text-align: center;">
  <h2>Gestión de Empleados</h2>
  <hr>
</div>
<div  id="cont" class="container mt-5">
  <div class="row">
    <div class="card" style="margin-left: 10px;">
        <div class="card-body text-center">
                <span style="color: black; font-weight: bold" class="titulo">LISTADO DE EMPLEADOS</span>
                <div class="d-flex justify-content-end mb-3">
                  <button class="btn btn-success me-2" routerLink="/registro"><i class="fa-solid fa-plus"></i> NUEVO</button>
                  <div class="form-group mb-0">
                      <input type="text" class="form-control" name="filterEmpleado" placeholder="Buscar Empleado" [(ngModel)]="filterEmpleado" >
                    </div>
                    <br>
                  </div>
                  <div  class="table table-striped mt-3">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">Nombre</th>
                          <th scope="col">Apellidos</th>
                          <th scope="col">Teléfono</th>
                          <th scope="col">Correo Electrónico</th>
                          <th scope="col">Departamento</th>
                          <th scope="col">Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let empleado of listEmpleados | empleadofilter: filterEmpleado">
                          <td>{{empleado.nombre}}</td>
                          <td>{{empleado.aPaterno}} {{empleado.aMaterno}}</td>
                          <td>{{empleado.telefono}}</td>
                          <td>{{empleado.email}}</td>
                          <td>{{empleado.departamento}}</td>
                          <td>
                            <div class="btn-group">
                              <a [routerLink]="['/editar-empleado', empleado._id]" class="btn btn-success">
                                <i class="fa-solid fa-pen-to-square"></i>
                              </a>
                              <button (click)="eliminarEmpleado(empleado._id)" class="btn btn-danger">
                                <i class="fa-solid fa-trash"></i>
                              </button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                    <h5 style="text-align: start; margin-top: 10px;" *ngIf="listEmpleados.length == 0"> No hay empleados para mostrar</h5>
      </div>
    </div>
  </div>
</div>
