<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center">Iniciar Sesión</h2>
            <hr>
            <form [formGroup]="signinForm" (ngSubmit)="signin()">
              <div class="form-group">
                <input type="email" id="email" class="form-control" formControlName="email" placeholder="Correo electrónico">
                <div class="invalid-feedback" *ngIf="signinForm.get('email')?.invalid && signinForm.get('email')?.touched">
                  El correo electrónico es requerido y debe tener un formato válido.
                </div>
              </div>
  
              <div class="form-group" style="margin-bottom: 12px;">
                <input type="password" id="password" class="form-control" formControlName="password" placeholder="Contraseña">
                <div class="invalid-feedback" *ngIf="signinForm.get('password')?.invalid && signinForm.get('password')?.touched">
                  La contraseña es requerida.
                </div>
              </div>
  
              <button type="submit" class="btn btn-primary btn-block" style="margin-bottom: 12px;">Ingresar</button>
              <p><a class="link-opacity-10-hover" href="/signup">Registrarme  <i class="fa-solid fa-arrow-right" style="color: #0091ff;"></i> </a></p>     

            </form>
  
            <p class="text-danger mt-3">{{ errorMessage }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  