<div id="seccion_header" style="text-align: center;">

    <h2>Sobre Nosotros</h2>
    <hr>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="section">
                <h4>Misión</h4>
                <p>ActUnity tiene la misión de ayudar a las empresas a administrar su 
                    información de manera más eficiente y eficaz, sin perder la seguridad e integridad 
                    de sus datos.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="section">
                <img src="..\assets\mision1.jpg" class="img-thumbnail">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="section">
                <img src="..\assets\vision.jpg" class="img-thumbnail">
            </div>
        </div>
        <div class="col-md-6">
            <div class="section">
                <h4>Visión</h4>
                <p style="align-items: center;">ActUnity tiene la visión de lograr ser el sistema número 1 entre las empresas del mercado.</p>
            </div>
        </div>
    </div>
</div>
