
<div class="sitemap">
  <ul>
    <div class="shadow-none p-3 mb-2 bg-body-tertiary rounded" style="text-align: center; height: 5rem; margin-bottom: 1rem;display: flex;
    justify-content: center;">
    <div class="row" style="width: 10cm; text-align: center; height: 2cm;">
              <div class="col" style="text-align: center;">
                  <img src="../assets/casa (1).png" alt="" width="30px" height="30px">
                  <br>
                  <a href="inicio" style="text-decoration: none; color: #333;">Inicio</a>
              </div> 
          </div>
         
        </div>
        <div class="vr"></div>
        <hr>
       
        <div class="shadow p-3 mb-5 bg-body-tertiary rounded">          <div class="row">
            <div class="col" style="border-left: 1px solid #dadada; border-right: 1px solid #dadada;">
              <img src="../assets/empleados.png" alt="" width="30px" height="30px">
              <li><a href="listar-empleados">Empleados</a>
                <br>
                <div class="vr"></div>
                <hr>
                  <ul>
                    <img src="../assets/empleado.png" alt="" width="30px" height="30px">
                      <li><a href="registro">Registrar</a></li>
                  </ul>
              </li>
            </div>
            <div class="col" style="border-left: 1px solid #dadada; border-right: 1px solid #dadada; text-align: center;">
              <img src="../assets/cajas.png" width="30px" height="30px" alt="">
              <li><a href="listar-recurso">Almácen</a>
                <br>
                <div class="vr"></div>
                <hr>
                  <ul>
                    <img src="../assets/caja.png" width="30px" height="30px" alt="">
                      <li><a href="crear-recurso">Registrar recurso</a></li>
                  </ul>
              </li>
            </div>
            <div class="col" style="border-left: 1px solid #dadada; border-right: 1px solid #dadada; text-align: center;">
              <br>
              <img src="../assets/escoger.png" width="30px" height="30px" alt="" style="align-content: center;">
              <li style="text-align: center;"><a href="asignacion">Asignar recurso</a>
              </li>
            </div>
          </div>
        </div>
  </ul>
</div>
